/* html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

*,
*::after,
*::before {
  box-sizing: border-box;
} */

/* Root */
body {
  font-family: Arial, Helvetica, sans-serif;
  --form-border: 1px solid rgb(85, 74, 74);
  --header-footer-border: 3px solid var(--theme-color);
  --theme-color: crimson;
}

/* Header */
.App-header {
  align-items: center;
  border-bottom: var(--header-footer-border);
  color: var(--theme-color);
  display: flex;
  flex-direction: row;
}


/* Main Body */
.App-body {
  font-size: 1rem;
  padding: 3rem;
}

/* Form */
.form-entry {
  display: inline-block;
  padding-right: 1rem;
}
.form-entry label {
  padding-right: 0.6rem;
}


/* Footer */
.App-footer {
  border-top: var(--header-footer-border);
  bottom: 0;
  font-size: 1rem;
  font-style: italic;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.Notifications {
  border: 1px dashed crimson;
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
}

.Notifications [data='default'] {
  color: blue;
}
.Notifications [data='urgent'] {
  color: red;
}
.Notifications button:hover {
  background-color: rgb(168, 168, 168);
}